{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">

{% endblock style %}
{% block content%}
<div class="container w-50">
    <img src="{{image_url}}" alt="default">
</div>
<div class="container w-50">
    <form action="" method="POST" enctype="multipart/form-data">
        <!-- Hidden tag is like csrf token for protection -->
        {{ data.form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{legend}}</legend>
            <div class="form-group">
                {{data.form.picture.label}}
                {{data.form.picture(class="form-control-file")}}
                {%if data.form.picture.errors%}
                    {%for error in data.form.picture.errors%}
                        <span class="text-danger">{{error}}</span><br>
                    {%endfor%}
                {%endif%}
            </div>
        </fieldset>
        <div class="form-group mb-3">
            {{ data.form.submit(class="btn btn-primary mt-2") }}
        </div>
    </form>
</div>
{%endblock content%}