body {
    /* background-image: url('https://th.bing.com/th/id/R.42295c7226b70b902e338b6e0783a728?rik=do4sVc%2blUH4qPA&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f44%2f12%2fBGWD8p.jpg&ehk=UuF%2b72Uec4FOo4UqYemykyK3B%2bSVadg5Mhv%2f%2bk1v%2bIM%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat; */
    background-color: #4267B2;
}

h1 {
    color: black;
    text-align: center;
    padding: 50px;
}